@import './core';

.todo {
	width: 250px;
	margin: 20px auto;
	border: 1px solid #c2c1c1;
	border-radius: 4px;
	box-shadow: 6px 4px 8px 0 rgba(34, 60, 80, .2);


	.todo__title {
		background-color: #dddddd;
		padding: 11px 10px;
		border-bottom: 1px solid #bebebe;

		h2 {
			font-size: 18px;
			opacity: .6;
		}
	}

	.todo__list {
		background-color: #f1f1f1;
		font-weight: bold;
		color: rgba(73, 73, 73, .7);
		font-size: 14px;

		.todo__list-item {
			position: relative;
			display: flex;
			align-items: center;
			padding: 20px 20px;
			border-bottom: 1px solid #dbdbdb;

			label {
				position: relative;
				margin-left: 10px;
				cursor: pointer;
			}

			input {
				appearance: none;
				min-width: 24px;
				height: 24px;
				border: 2px solid rgba(73, 73, 73, .7);
				border-radius: 50%;
				cursor: pointer;

				&:checked {
					border-color: #00ac00;
				}

				&:checked ~ label {
					color: #00ac00;
					text-decoration: line-through;
				}

				&:checked ~ label::before {
					content: '';
					position: absolute;
					left: -37px;
					top: 50%;
					width: 15px;
					height: 5px;
					border-radius: 1px;
					border-left: 3px solid #00ac00;
					border-bottom: 3px solid #00ac00;
					transform: rotate(-45deg) translate(45%, 0);
				}
			}
		}
	}
}

